body {
  background-image: url(diagmonds.png);
  background-repeat: repeat;
}
nav {
  border: 1px solid red;
  background-color: white;
  width: 247px;
  height: 545px;
  margin-top: 53px;
  margin-left: 45px;
  margin-bottom: 0;
  position: fixed;
}
